h1{
    /*background-color: lightpink; This does not work w ladybugs */
    font-family: fantasy;
    color:blueviolet;
    padding: 0px;
    margin: 0px;
}

body{
    background-color: lightcyan;
    padding: 0px;
}

img {
    border-style:inset;
    display:grid;
    margin: 20px;
}

h3{
    background-color:beige;
    font-family: monospace;
    color: darkred;
    border-style: groove;
    border-color:darkorchid;
    padding: 10px;
    margin: 0px;
    
}

a{
    margin: 20px;
}

.info{
    margin:5%;
    font-family: monospace;
    font-size: 16px;
    border-style:inset;
}

#lady{
    background-image:url("/my_page/images/ladybug_picnic.png");
    height:20px; /* To show only one bug at a time */
    width: 30px;
    display:inline-block;
    
    animation-name: walk;
    animation-duration: 10s;
    animation-iteration-count:infinite;
    
    
}

p{
    padding: 10px;
    margin: 0px;
}



