h1{
    background-color: lightpink;
    font-family: fantasy;
    color:blueviolet;
    padding: 0px;
    margin: 0px;
}

body{
    background-color: lightcyan;
    padding: 0px;
}

img {
    border-style:inset;
    position: relative;
}

h4{
    background-color:beige;
    font-family: monospace;
    color: darkred;
    border-style: groove;
    border-color:darkorchid;
    
}

a{
    margin: 20px;
}